### Урок 10. Построение графиков

In [ ]:
import random
import pandas as pd

---

#### Source data

Задание 44. В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies

In [2]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [3]:
data = pd.DataFrame(data={'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  robot
4  human

---

#### Solve

In [4]:
def get_dummies(dataFrame, columnName):
    
    #make sequence for new column 
    def getValue(nameColumn, nameItem):
        return (1 if row[nameColumn] == nameItem else 0 for label, row in data.iterrows())
    
    #calc unique value by column name columnName
    columns =  list(dataFrame[columnName].unique())
    
    newFrame = pd.DataFrame()
    for item in  columns:
        newFrame[item] = pd.Series(data=getValue(columnName, item), name=item)
    
    return newFrame

In [5]:
result = get_dummies(data, 'whoAmI')

In [6]:
result

    human  robot
0       1      0
1       0      1
2       1      0
3       0      1
4       1      0
5       1      0
6       0      1
7       0      1
8       0      1
9       0      1
10      0      1
11      1      0
12      1      0
13      0      1
14      0      1
15      0      1
16      1      0
17      1      0
18      1      0
19      1      0

In [7]:
#merge and print for test
total = pd.concat([data, result], axis=1)

In [8]:
total

   whoAmI  human  robot
0   human      1      0
1   robot      0      1
2   human      1      0
3   robot      0      1
4   human      1      0
5   human      1      0
6   robot      0      1
7   robot      0      1
8   robot      0      1
9   robot      0      1
10  robot      0      1
11  human      1      0
12  human      1      0
13  robot      0      1
14  robot      0      1
15  robot      0      1
16  human      1      0
17  human      1      0
18  human      1      0
19  human      1      0